body {
  font-family: sans-serif;

}
#container {
  width: 250px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  grid-template-rows: repeat(5, 0.1fr);
}

#zero {
  grid-column: span 2;
  width: auto;
}

.button {
  width: 50px;
  height: 50px;
  user-select: none;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.button:hover {
  background-color: #d3d3d3;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 300px;
}

.answer {
  background-color: gray;
  border-radius: 2px;
  font-size: larger;
  color: rgb(224, 224, 224);
  width: auto;
  padding: 20px;
  height: 20px;
}
